@model Leave_Management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leave Allocations</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id">
                        <i class="fa fa-pencil"></i> Allocate To Employees
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
    $(document).ready(function () {
        $('#tblData').DataTable();
    });
    </script>
}
