@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-secondary text-center">
    <h1 class="alert-heading display-4">Welcome to <strong>Leave Management</strong></h1>
    <hr>
    <p class="mb-0">A project by Robert Witzlib</p>
</div>
<div class="alert alert-default-secondary">
    <h5 class="alert-heading">What I have learned during this project:</h5>
    <hr>
    <ul class="list-group">
        <li class="list-group-item">Build Complete Data Driven ASP .Net Core 3.1 MVC Application From Scratch</li>
        <li class="list-group-item">Learn C# and Visual Studio Techniques</li>
        <li class="list-group-item">Implement Authentication and Authorization functionality</li>
        <li class="list-group-item">Repository Pattern and Dependency Injection</li>
        <li class="list-group-item">Use AutoMapper and View Models</li>
        <li class="list-group-item">Build Database using Code First Pattern and Migrations</li>
        <li class="list-group-item">Interact with Database using Entity Framework Core</li>
        <li class="list-group-item">Use NuGet Package Manager</li>
        <li class="list-group-item">Manage and Track Changes using GitHub</li>
        <li class="list-group-item">Asynchronous Programming</li>
        <li class="list-group-item">Setting up and Publishing to IIS and Remote Database</li>
        <li class="list-group-item">Setting up a Microsoft Azure Account</li>
        <li class="list-group-item">Publishing to Azure Web and SQL Services</li>
        <li class="list-group-item">Setup Automated Build/Release Pipeline using GitHub and Azure DevOps</li>
    </ul>
</div>
